:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "resultado  resultado   resultado   resultado"
        "numero-7   numero-8    numero-9    resta"
        "numero-4   numero-5    numero-6    suma"
        "numero-1   numero-2    numero-3    multiplicar"
        "numero-0   igual       igual       dividir"
    ;
    
    gap: 5px;
    background-color: greenyellow;
    padding: 5px;
}

div {
    text-align: center;
    place-content: center;
    color: white;
    border-radius: 10px;
}

.resultado {
    background-color: white;
    grid-area: resultado;
    text-align: right;
    padding: 20px;
    color: black;
}

.numero-7 {
    background-color: salmon;
    grid-area: numero-7;
}

.numero-8 {
    background-color: salmon;
    grid-area: numero-8;
}

.numero-9 {
    background-color: salmon;
    grid-area: numero-9;
}

.resta {
    background-color: orangered;
    grid-area: resta;
}

.numero-4 {
    background-color: salmon;
    grid-area: numero-4;
}

.numero-5 {
    background-color: salmon;
    grid-area: numero-5;
}

.numero-6 {
    background-color: salmon;
    grid-area: numero-6;
}

.suma {
    background-color: orangered;
    grid-area: suma;
}

.numero-1 {
    background-color: salmon;
    grid-area: numero-1;
}

.numero-2 {
    background-color: salmon;
    grid-area: numero-2;
}

.numero-3 {
    background-color: salmon;
    grid-area: numero-3;
}

.multiplicar {
    background-color: orangered;
    grid-area: multiplicar;
}

.numero-0 {
    background-color: salmon;
    grid-area: numero-0;
}

.igual {
    background-color: orangered;
    grid-area: igual
}

.dividir {
    background-color: orangered;
    grid-area: dividir;
}

@media screen and (min-width: 451px) {
    body{
        grid-template-areas:
            "resultado  resultado   resultado   resultado   resultado"
            "numero-6   numero-7    numero-8    numero-9    numero-0"
            "numero-1   numero-2    numero-3    numero-4    numero-5"
            "suma       suma        resta       multiplicar dividir"
            "suma       suma        igual       igual       igual"
        ;
    }
}
