:root {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    place-content: center;
}

.numero {
    width: 90px;
    height: 90px;
    border: solid;
    background-image: url(./numeros.png);
    background-position-x: -810px;
    background-repeat: no-repeat;
}

.numero2 {
    width: 90px;
    height: 90px;
    border: solid;
    background-image: url(./numeros.png);
    background-position-x: -810px;
    background-repeat: no-repeat;
}