:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

.circulo-uno {
    background-color: red;
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    
    animation:
        movimiento 4s linear 0s infinite normal both,
        colorenado 1s linear 0s infinite normal both
        ;

}

@keyframes movimiento {
    0% {
        top: 10%;
        left: 10%;
    }

    25% {
        left: 90%;
    }

    50% {
        top: 90%;
    }

    75% {
        left: 10%;
    }

    100% {
        top: 10%;
        left: 10%;
    }
}

@keyframes colorenado {
    0% {
        background-color: green;
    }

    50%{
        background-color: yellowgreen;
    }

    10% {
        background-color: yellow;
    }
}