:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100dvh;
    display: flex;
    background-color: skyblue;
    gap: 10px;
    padding: 10px;
    color: skyblue;
}

main, li, aside {
    background-color: darkblue;
}

aside {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

main {
    flex: 1 1 0;
    height: 100%;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

li {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
