:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

@media screen {
    :root {
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        background-image: url(./halloween.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: orange;
    }
}

@media print {
    :root {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
        background-image: url(./halloween.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: orange;
    }
}