:root {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.cronometro {
    height: 90px;
    width: 90px;
    border: solid red;
    background-image: url(./numeros.png);
    background-repeat: no-repeat;
}
