/* mobile */
@media screen and (width <= 450px) {
    body{
        background-color: black;
        color: orange;
    }
}

/* tablet */
@media screen and (450 < width <= 800px) {
    body{
        background-color: black;
        color: orange;
    }
}

/* monitor */
@media screen and (width > 800px) {
    body{
        background-color: black;
        color: orange;
    }
}