:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

table, tr, td, th{
    border: solid 2px blue;
    border-collapse: collapse;
}

td {
    padding: 0.25rem;
}

/*

tr:first-child { 
    background-color: red;
}

tr:last-child {
    background-color: red;
}

*/


/* Pinta la celda en especifico (4)*/
/* tr:nth-child(4n+1) {
    background-color: red;
} */

tr:first-child {
    background-color: blue !important;
    color: white;
}

tr:nth-child(2n+1) {
    background-color: darkgray;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

tr:nth-child(2n+1):hover, tr:nth-child(2n):hover {
    background-color: grey;
}

