:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

div {
    flex: 1 1 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-rojo {
    background-color: red;
}

.color-verde {
    background-color: green;
}

.color-azul {
    background-color: blue;
}

.color-amarillo {
    background-color: yellow;
}

.color-magenta {
    background-color: magenta;
}