:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 50px 1fr 50px;
}

header {
    background-color: red;
    grid-column-end: span 3;
}

main {
    background-color: green;
}

aside{
    background-color: yellow;
}

footer{
    background-color: blue;
    grid-column-end: span 3;
    color: white;
}