:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    --blue-10: #f0f9ff;
    --blue-20: #e6f3ff;
    --blue-30: #d8ecff;
    --blue-40: #bfe0ff;
    --blue-50: #99ccff;
    --blue-60: #66b3ff;
    --blue-70: #3399ff;
    --blue-80: #007fff;
    --blue-90: #005fcc;
    --blue-100: #003366;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

.header-app {
    background-color: var(--blue-100);
    color: var(--blue-50);
    padding: 0.25rem;
    display: flex;
    /* justify-contennt alineamiento direccion principal */
    align-items: center; /* alineamiento direccion secundaria*/

    .header-app__title {
        flex: 1 1 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
    }
}

.header-app__menu {
    position: relative;
    width: 2rem;
    height: 2rem;

    &::before {
        position: absolute;
        content: "";
        top: 10%;
        left: 10%;
        border-top: solid 0.25px var(--blue-20);
        border-bottom: solid 0.25px var(--blue-20);
        width: calc(80%);
        height: 50%;
        transition-duration: 1s;
        transition-property: border-top;
    }

    &::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        border-bottom: solid 0.25px var(--blue-20);
        width: calc(80%);
        height: 2rem;
    }

    :has(.switcher-menu-app:checked) &::before {
        border-bottom: none;
        rotate: 25deg;
        transform-origin: left;
    }

    :has(.switcher-menu-app:checked) &::after {
        rotate: -25deg;
    }
}

/* .menu-app {
    display: none;
} */

.switcher-menu-app:not(:checked) + .menu-app {
    display: none;
}

.switcher-menu-app:checked + .menu-app {
    display: block;
}


.menu-app {
    background-color: var(--blue-80);
    color: #005fcc;
    
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (min-width: 640px) {
    .menu-app>ul {
        flex-direction: row;
    }
}