.caja-externa {
    background-color: blue;
    width: 400px;
    height: 400px;
    position: relative;
}

.caja-interna {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    inset: 0;
    margin: auto;
}

.circulo-externo {
    background-color: white;
    width: 400px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    border: solid black 5px;
}

.circulo-interno {
    background-color: skyblue;
    width: 200px;
    height: 200px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: inherit;
}

.circulo-mas-interno {
    background-color: black;
    width: 80px;
    height: 100px;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: inherit;
}