:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100dvh;
}

header {
    background-color: black;
    color: white;
    padding: 4rem;
}

main {
    flex-direction: row;
    flex: 1 1 0;
    display: flex;
}

article {
    flex: 1 1 0;
    background-position: center;
    background-size: cover;
    position: relative;
    justify-items: center;
    
    &>div {
        background-color: white;
        position: absolute;
        bottom: 50px;
        height: 150px;
        width: 150px;
        
    }
}


.carrito {
    background-image: url(./imagenes/carrito.jpg);
}

.chica {
    background-image: url(./imagenes/chica.jpg);
}

.gato {
    background-image: url(./imagenes/gato.jpg);
}

.tranvia {
    background-image: url(./imagenes/tranvia.jpeg);
}

.papiroflexia {
    background-image: url(./imagenes/papiroflexia.jpg);
}   