:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-fondo: lightblue;
    font-size: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    overflow: hidden; desbordamiento
}

p{
    background-color: rgb(250, 114, 99);
    text-align: justify;
    border-style: solid;
    border-width: 20px;
    /* border-top-color: rgb(255, 0, 0);
    border-left-color: rgb(139, 0, 0);
    border-right-color: rgb(243, 93, 93);
    border-bottom-color: rgb(31, 7, 7); */
    border-color: rgb(255, 0, 0) rgb(139, 0, 0) rgb(110, 27, 27) rgb(241, 66, 66); /* Orden agujas del reloj */
    margin: 50px 100px;
    padding: 20px 40px 60px 80px; /* Orden agujas del reloj */
    background-image: url(./smoke.png);
    background-size: cover;
}