:root{
    --color-fondo: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid;
}

body{
    min-height: 100dvh;
    background-color: var(--color-fondo);
}

.mensaje {
    background-color: yellow;
    width: 600px;
    height: 400px;
}

.dos {
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 400px;
}

table {
    display: inline;
}

pre {
    display: inline;
}

a {
    display: block;
}

span {
    display: ;
}