:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-areas: 
        'rojo      azul     azul'
        'amarillo  amarillo amarillo'
        'gris      verde    marron'
        'chocolate verde    marron' 
        'chocolate negro    oliva'
        'cian      cian     cian'
    ;
    grid-template-columns: 2fr repeat(2,1fr);
    grid-template-rows: repeat(2,2fr) repeat(3,1fr) 2fr;
}

.rojo {
    background-color: red;
    grid-area: rojo;
}

.azul {
    background-color: blue;
    grid-area: azul;
}

.amarillo {
    background-color: yellow;
    grid-area: amarillo;
}

.gris {
    background-color: grey;
    grid-area: gris;
}

.verde {
    background-color: green;
    grid-area: verde;
}

.marron {
    background-color: brown;
    grid-area: marron;
}

.chocolate {
    background-color: chocolate;
    grid-area: chocolate;
}

.negro {
    background-color: black;
    grid-area: negro;
}
.oliva {
    background-color: olive;
    grid-area: oliva;
}
.cian {
    background-color: cyan;
    grid-area: cian;
}
