.box {
    width: 200px;
    height: 200px;
}

.box-blue {
    background-color: blue;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: background-color;
    transition-delay: 100ms;
}

.box-blue:hover {
    width: 300px;
    background-color: red;
}

fieldset {
    font-size: 2rem;
}

label {
    font-size: 0.8em;
    transition: 1000ms;
    border-bottom: solid 0px red;
}

input[type=radio] {
    accent-color: green;
    scale: 2;
}

input[type=radio]:checked + label {
    border-bottom: solid 30px green;
}