:root {
    font-family: Arial, Helvetica, sans-serif;
    --color-fondo: lightblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: var(--color-fondo);
}

.ads {
    padding: 10px;
    border: double 10px rgb(255, 255, 255);
    background-color: red;
    color: white;
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
}

.ads>div:nth-child(1){
    font-size: 2rem;
}